* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #444;
    background-color: #fff;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.content {
    display: flex; /* Flex: propriedade com várias facilidades para posicionamento de elementos */
    height: 100%;
    width: 100%;
    background-color: #eee;
    align-items: center; /* Alinha horizontalmente */
    padding: 3rem; /* 3rem = 30px, pois o font-size do HTML (elemento raiz) é = 10px */
}

.products {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.products > ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.products > ul > li {
    width: 25%;
    padding: 3rem;
    height: 100%;
}

.product {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 0 1rem #888;
    transition: 0.4s;
}

.product .pic {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pic img {
    height: 100%;
}

.product .title {
    font-weight: bold;
    margin: 3rem 0rem;
    color: #333;
}

.product .old-price {
    text-decoration: line-through;
    color: #bbb;
}

.product .new-price {
    font-size: 2rem;
    font-weight: bold;
    color: #DA4B4F;
    margin-bottom: 1rem;
}

.product .buy {
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #40B25C;
    color: white;
    margin: 3rem 0;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
}

.product .buy::before {
    content: 'Adicionar';
}

.product .selected {
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #A3F9B9;
    color: #222;
    margin: 3rem 0;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
}

.product .selected::before {
    content: '\2713     Adicionado';
}

.product .buy:hover {
    background-color: #1C6C3E;
}

.product .buy:active {
    background-color: #A3F9B9;
}

.wishlist {
    display: flex;
    justify-content: end;
}

.wishlist .wish-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #ccc;
    border-radius: 50%;
    transition: 0.5s;
}

.wish-icon:hover {
    background-color: #FEE5EC
}

.wishlist .wish-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(185, 0, 0);
    border-radius: 50%;
    transition: 0.5s;
}